--USE [CustomerPurchasedInventory]
--GO
--/****** Object:  Schema [CP]    Script Date: 8/7/2021 2:50:15 PM ******/
--CREATE SCHEMA [CP]
--GO
--/****** Object:  Table [CP].[CustomerOrders]    Script Date: 8/7/2021 2:50:15 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [CP].[CustomerOrders](
--	[Id] [varchar](36) NOT NULL,
--	[CustomerId] [varchar](36) NOT NULL,
--	[OrderId] [varchar](36) NULL,
--	[Description] [nvarchar](2000) NULL,
--	[Active] [bit] NOT NULL,
--	[CreatedBy] [nvarchar](256) NOT NULL,
--	[CreatedDate] [datetime] NOT NULL,
--	[Updatedby] [nvarchar](256) NULL,
--	[UpdatedDate] [datetime] NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [CP].[Customers]    Script Date: 8/7/2021 2:50:15 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [CP].[Customers](
--	[Id] [varchar](36) NOT NULL,
--	[FullName] [nvarchar](500) NULL,
--	[Address] [nvarchar](500) NULL,
--	[Phone] [nvarchar](20) NULL,
--	[Email] [nvarchar](320) NULL,
--	[Description] [nvarchar](2000) NULL,
--	[IsGoldMember] [bit] NOT NULL,
--	[IsDiamondMember] [bit] NOT NULL,
--	[Active] [bit] NOT NULL,
--	[CreatedBy] [nvarchar](256) NOT NULL,
--	[CreatedDate] [datetime] NOT NULL,
--	[Updatedby] [nvarchar](256) NULL,
--	[UpdatedDate] [datetime] NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [CP].[Orders]    Script Date: 8/7/2021 2:50:15 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [CP].[Orders](
--	[Id] [varchar](36) NOT NULL,
--	[Name] [nvarchar](500) NULL,
--	[ProductId] [varchar](36) NOT NULL,
--	[Description] [nvarchar](max) NULL,
--	[Active] [bit] NOT NULL,
--	[CreatedBy] [nvarchar](256) NOT NULL,
--	[CreatedDate] [datetime] NOT NULL,
--	[UpdatedBy] [nvarchar](256) NULL,
--	[UpdatedDate] [datetime] NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [CP].[Products]    Script Date: 8/7/2021 2:50:15 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [CP].[Products](
--	[Id] [varchar](36) NOT NULL,
--	[Name] [nvarchar](500) NULL,
--	[Code] [varchar](100) NULL,
--	[ProductTypeId] [varchar](36) NOT NULL,
--	[Description] [nvarchar](2000) NULL,
--	[Active] [bit] NOT NULL,
--	[CreatedBy] [nvarchar](256) NOT NULL,
--	[CreatedDate] [datetime] NOT NULL,
--	[UpdatedBy] [nvarchar](256) NULL,
--	[UpdatedDate] [datetime] NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [CP].[ProductType]    Script Date: 8/7/2021 2:50:15 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [CP].[ProductType](
--	[Id] [varchar](36) NOT NULL,
--	[Name] [nvarchar](500) NULL,
--	[Code] [varchar](100) NULL,
--	[Description] [nvarchar](2000) NULL,
--	[Active] [bit] NOT NULL,
--	[CreatedBy] [nvarchar](256) NOT NULL,
--	[CreatedDate] [datetime] NOT NULL,
--	[UpdatedBy] [nvarchar](256) NULL,
--	[UpdatedDate] [datetime] NULL,
--PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--ALTER TABLE [CP].[CustomerOrders] ADD  DEFAULT ((1)) FOR [Active]
--GO
--ALTER TABLE [CP].[Customers] ADD  DEFAULT ((0)) FOR [IsGoldMember]
--GO
--ALTER TABLE [CP].[Customers] ADD  DEFAULT ((0)) FOR [IsDiamondMember]
--GO
--ALTER TABLE [CP].[Customers] ADD  DEFAULT ((1)) FOR [Active]
--GO
--ALTER TABLE [CP].[Orders] ADD  DEFAULT ((1)) FOR [Active]
--GO
--ALTER TABLE [CP].[Products] ADD  DEFAULT ((1)) FOR [Active]
--GO
--ALTER TABLE [CP].[ProductType] ADD  DEFAULT ((1)) FOR [Active]
--GO
--ALTER TABLE [CP].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
--REFERENCES [CP].[Customers] ([Id])
--GO
--ALTER TABLE [CP].[CustomerOrders]  WITH CHECK ADD FOREIGN KEY([OrderId])
--REFERENCES [CP].[Orders] ([Id])
--GO
--ALTER TABLE [CP].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductId])
--REFERENCES [CP].[Products] ([Id])
--GO
--ALTER TABLE [CP].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeId])
--REFERENCES [CP].[ProductType] ([Id])
--GO
